<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

    
    
    <img src="assets/logo.png">
  <h1 id='tituloPrincipal'>
    Bienvenido a {{ title }}
  </h1>
  
</div>
<h4>Todos los planes</h4>

<ul>
  <li *ngFor="let pa of planes" >
    <!--<p (click)="usuarioClick(usua)" >{{ usua.nombre }}<p>-->
    <p> {{pa.cdsc}}</p>
   </li>
</ul>




<router-outlet></router-outlet>
